@media (max-width: 600px) {
  /* gallery */
  .gallery-one {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  .gallery-two {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  .gallery-three {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
}
